/* El modal debe estar oculto al principio */
.modal {
  display: none; /* Aseguramos que esté oculto al principio */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.9); /* Fondo oscuro */
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column; /* Mejor usar columna en vez de fila si tienes un contenido más centrado */
  justify-content: space-between;
  align-items: center;
  /* Centrado y distribuyendo elementos en el eje vertical */
}

/* Se ha corregido también la clase para el contenido de los formularios */
.contain-register {
  display: none;  /* Aseguramos que el registro también esté oculto al principio */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.9); /* Fondo oscuro */
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;  /* Mejor usar columna */
  justify-content: center;  /* Aseguramos que los elementos estén centrados */
  align-items: center;
}

/* The Close Button */
.close {
  color: #aaa;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Estilo general para botones */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Avatar */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Estilos para los contenedores */
.container {
  padding: 13px;
}

.container  h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}
/* Ajustes de visibilidad para la pantalla pequeña */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
